* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Ubuntu Mono', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    position: absolute;
    display: grid;
    background-color: slategray;
    transform: skewY(-20deg);
    z-index: 0;
    width: 100%;
    height: 50vw;
    margin-top: -400px;
    box-shadow: 5px 5px 5px slategray;
}

.portrait1 {
    display: grid;
    grid-row: 9 / 12;
    grid-column: 5 / 10;
    position: absolute;
    background-image: url('pexels-olly-3760809.jpg');
    height: 500px;
    width: 500px;
    z-index: 4;
    background-position: center;
    background-size: cover;
    /* margin: 250px 100px 0 200px; */
    box-shadow: 5px 5px 5px slategray;
}

.name,
.about_text {
    font-size: 50px;
}

.about {
    position: absolute;
    display: grid;
    grid-row: 10 / 15;
    grid-column: 8 / 15;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    position: absolute;
    height: 500px;
    width: 500px;
    background-color: white;
    /* margin: 250px 100px 0 200px; */
    box-shadow: 5px 5px 5px slategray;
    z-index: 2;
}

.ptext {
    position: absolute;
    display: grid;
    grid-row: 1/9;
    z-index: 4;
}

.header_content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    margin-top: 200px;
    z-index: 0;
    transform: skewY(20deg);
}

.icon_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 9/10;
    grid-column: 9/10;
}

.devicon-twitter-original,
.devicon-linkedin-plain,
.devicon-github-original {
    margin: 10px;
    font-size: 30px;
}

.devicon-github-original {
    display: grid;
    grid-column: 1/2;
}

.devicon-linkedin-plain {
    display: grid;
    grid-column: 2/3;
}

.devicon-twitter-original {
    display: grid;
    grid-column: 3/4;
}